body{
    background-image: url(img/background.ea292d81.jpg);
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}
header{
    background-color: #5a433a;
    display: flex;
    padding: 5px 20px;
}
.menu{
    width: 100%;
    color: #f6ffe3;
    line-height: 120%;
    font-size: 17px;
}
.menu ul{
    display: flex;
    justify-content: flex-end;
}
.menu ul li{
    margin-left: 20px;
    list-style-type: none;
}
.wall_grass_top{
    background-image: url(img/grass.png);
    background-size: cover;
    background-repeat: repeat;
    height: 13px;
    margin: 40px 40px 0px 40px;
}
.about{
    display: flex;

    margin: 40px;
    margin-top: 0;
    font-size: 20px;
    background-color: #5E4332;
    padding: 20px;
    color: white;
   
}
.about_img{
    width: 30%;
    background-image: url(img/about.jpg);
    background-size: cover;
    margin-right: 20px;
}
.about_text{
    width: 70%;
}
.about div h3{
    margin: 0;
    font-size: 25px;
}
article{
    margin: 40px;
}
.npc-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.npc{
    background-color: #f6f6f6;
    padding: 20px;
    width: 150px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.npc img{
    width: 100px;
}

.biom{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.bio_deteil{
    background-color: rgb(50, 30, 2);
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.bosses{
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
    grid-template-areas: 
                "a1 a2 a2 a3"
                "a4 a5 a6 a3"
                "a7 a5 a6 a8";
}
.boss{
    background-color: #f6f6f6;
    padding: 25px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.b1{
    grid-area: a1;
}
.b2{
    grid-area: a5;
}
.b3{
    grid-area: a2;
}
.b4{
    grid-area: a4;
}
.b5{
    grid-area: a7;
}
.b6{
    grid-area: a8;
}
.b7{
    grid-area: a6;
}
.b8{
    grid-area: a3;
}
