body{
    padding: 0;
    margin: 0;
}
header{
    height: 80px;
    background-color: rgb(255, 217, 0);
}
header nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    font-size: 20px;
    padding: 0 30px;
}
header nav div{
    margin-left: 20px;
}
div h3{
    font-size: 30px;
}
div p{
    font-size: 20px;
}
.about{
    padding: 30px 30px;
    display: flex;    
    color: rgb(0, 0, 0);
}
.about section{
    display: flex;
}
.about div img{
    height: 400px;
    margin-right: 20px;
}
.Guns{
    background-color: rgb(0, 0, 0);
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgb(0, 0, 0);
}
.Gun{
    background-color: rgb(255, 255, 255);
    width: 300px;
    padding: 20px;
    margin: 10px;
    text-align: center;
    font-size: 20px;
}
.Gun img{
    width: 300px;
}
.Gun h3{
    font-size: 30px;
    margin: 0;
}
footer{
    background-color: rgb(0, 0, 0);
    height:  100px;
    color: rgb(255, 255, 255);
    padding: 30px;
}
.area{
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    background-size: cover;
    background-position: center;
    transition: 1s;
}
.area:hover{
    transform: scale(1.03);
    transition: 1s;
}
/* Блоки */
.area-1{
    grid-area: area-1;
    background-image: url(img/a1.jpg);
}
.area-2{
    grid-area: area-2;
    background-image: url(/img/a2.jpg);
}
.area-3{
    grid-area: area-3;
    background-image: url(/img/a3.jpg);
}
.area-4{
    grid-area: area-4;
    background-image: url(/img/a4.jpg);
}
.area-5{
    grid-area: area-5;
    background-image: url(/img/a5.jpg);
}
.area-6{
    grid-area: area-6;
    background-image: url(/img/a6.webp);
}
.carts{
        /* GRID */
        display: grid;
        /* Колонки */
        grid-template-columns: 400px 250px 1fr 2fr;
                        grid-column-gap: 20px;
        /* Ряды */
        grid-template-rows: 300px 200px 200px;
                        grid-row-gap: 20px;
        /* Зоны */
        grid-template-areas: 
                        "area-1 area-2 area-2 area-3"
                        "area-1 area-4 area-5 area-5"
                        "area-6 area-4 area-5 area-5"
        ;
        padding: 20px;
}
